In [1]:
import pandas as pd
import numpy as np
import MySQLdb
from datetime import datetime
import os

In [2]:
db = MySQLdb.connect("localhost","root","123456")
db.set_character_set('gbk')

In [6]:
db = MySQLdb.connect("47.100.14.137","hyps44413","Nanhua")
db.set_character_set('gbk')

In [5]:
db.close()

In [10]:
dbname = ' m_oi_data'
cursor = db.cursor()

table_name = "`东方财富`"

sql = "ALTER TABLE " + dbname + ".v_rank ADD COLUMN " + table_name + " TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".b_rank ADD COLUMN " + table_name + " TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".s_rank ADD COLUMN " + table_name + " TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".v_increment ADD COLUMN " + table_name + " TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".b_increment ADD COLUMN " + table_name + " TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".s_increment ADD COLUMN " + table_name + " TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".v_volume ADD COLUMN " + table_name + " TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".b_oi ADD COLUMN " + table_name + " TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".s_oi ADD COLUMN " + table_name + " TEXT"
cursor.execute(sql)

3232

In [14]:
dbname = 'm_oi_data'
cursor = db.cursor()
date = "'2018-06-20'"

sql = "delete from " + dbname + ".total_volume where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".futures_member where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".none_futures_member where Date >= " + date
cursor.execute(sql)


sql = "delete from " + dbname + ".v_rank where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".b_rank where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".s_rank where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".v_volume where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".b_oi where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".s_oi where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".v_increment where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".b_increment where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".s_increment where Date >= " + date
cursor.execute(sql)

cursor.close()

In [7]:
contract_list={'pp':'pp','jm':'jm','jd':'jd','fb':'fb','cs':'cs','bb':'bb','y':'y','v':'v','p':'p'
               ,'m':'m','l':'l','j':'j','c':'c','a':'a_1','b':'a_2','i':'i'}

# contract_id=['pp','jm','jd','fb','cs','bb','y','v','p','m','l','j','c','a','b','i']
contract_id=['pp','jm','jd','cs','y','v','p','m','l','j','c','a','b','i']
# contract_id=['m','l','j','c','a','b','i']

for x in range(len(contract_id)):
    
    company_order = pd.read_excel('../期貨公司名稱/大商所/' + contract_id[x] + '_company_name.xlsx',encoding='gbk',header=None,index_col=None)
    databaseName1 = contract_list[contract_id[x]] + '_oi_data'
    databaseName2 = contract_list[contract_id[x]] + '_oi_original_data'
    
    code = contract_list[contract_id[x]]
    
#     V_info_create(databaseName1, company_order)
#     B_info_create(databaseName1, company_order)
#     S_info_create(databaseName1, company_order)

    cursor = db.cursor()

    # sql = "CREATE DATABASE IF NOT EXISTS " + databaseName1
    # cursor.execute(sql)

    # sql = "CREATE DATABASE IF NOT EXISTS " + databaseName2
    # cursor.execute(sql)

#     create_futures_member(databaseName1)
#     create_non_futures_member(databaseName1)
#     create_total_volume(databaseName1)   

    print(code)
    
    DATA_DIR = "../各交易所期貨持倉量/大商所/" + contract_id[x]
    
    for file in os.listdir(DATA_DIR):
        date = file.split('.csv')[0]
        date = datetime.strptime(date,'%Y%m%d')

        if (date == datetime(2018,6,21)):
            
            split_date = date.strftime('%Y-%m-%d').split('-')
            table_date = split_date[0]+split_date[1]+split_date[2]

            data = pd.read_csv('../各交易所期貨持倉量/大商所/'+contract_id[x]+'/'+table_date+'.csv',encoding='gbk',engine='python')
            for i in range(3,len(data)-1):
                for j in range(12):
                    if(data.loc[i][j] == "-"):
                        data.loc[i][j] = None  #塞原始資料
    #                         data.loc[i][j] = "NULL"  #塞分類資料
                    elif( (j==2 or j==3 or j==6 or j==7 or j==10 or j==11) and data.loc[i][j] != None):
                        data.loc[i][j] = data.loc[i][j].replace(',','')

            futures_member_insert(data,table_date,databaseName1)
#             non_futures_member_insert(data,table_date,databaseName1)
            total_volume_insert(data,table_date,databaseName1)

            V_info_insert(data, table_date, databaseName1)
            B_info_insert(data, table_date, databaseName1)
            S_info_insert(data, table_date, databaseName1)   
#             total_insert(data,table_date,databaseName2,code)

pp
jm
jd
cs
y
v
p
m
l
j
c
a_1
a_2
i

## 查詢新的期貨公司

In [5]:
b = company_order.values.tolist()

a = data['总成交量'][2::]
a = pd.DataFrame(list(a))
a = a.values.tolist()

for i in a:
    if i not in b:
        print(i)

['会员简称']
['东方财富']
[nan]

In [3]:
def total_insert(data,table_date,databaseName,code):
    cursor = db.cursor()
    
    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + "." + code + "_" + table_date+ "(\
    Rank INT(5),\
    Member CHAR(10),\
    Volume FLOAT(5),\
    Increment FLOAT(5),\
    Rank_1 INT(5),\
    Member1 CHAR(10),\
    Buy_Volume FLOAT(5),\
    Increment_1 FLOAT(5),\
    Rank_2 INT(5),\
    Member2 CHAR(10),\
    Sales_Volume FLOAT(5),\
    Increment_2 FLOAT(5) )"
    
    cursor.execute(sql)
    value=[]

    for i in range(3,len(data)-1):      
        value.append((data.loc[i][0],data.loc[i][1],data.loc[i][2],data.loc[i][3],data.loc[i][4],data.loc[i][5],data.loc[i][6],data.loc[i][7],data.loc[i][8],data.loc[i][9],data.loc[i][10],data.loc[i][11]))

    sql = "INSERT INTO " + databaseName + "." + code + "_" + table_date +" VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"        
    cursor.executemany(sql,value)
    db.commit()
    cursor.close()
    
# ========期貨公司成員輸入========
def create_futures_member(databaseName):
    cursor = db.cursor()
    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".futures_member (\
    Date DATE PRIMARY KEY,\
    Total_volume FLOAT(5),\
    Increment FLOAT(5),\
    Total_buy_volume FLOAT(5),\
    Increment_1 FLOAT(5),\
    Total_sales_volume FLOAT(5),\
    Increment_2 FLOAT(5) ) "

    cursor.execute(sql)
    
def futures_member_insert(data,table_date,databaseName):
    cursor = db.cursor()
    
    sql = "INSERT INTO " + databaseName + ".futures_member VALUES( "\
    + table_date +","\
    + data.loc[0][1].replace(',','') +","\
    + data.loc[0][2].replace(',','') +","\
    + data.loc[0][3].replace(',','') +","\
    + data.loc[0][4].replace(',','') +","\
    + data.loc[0][5].replace(',','') +","\
    + data.loc[0][6].replace(',','') + ")"

    cursor.execute(sql)
    db.commit()
    cursor.close()
# ========期貨公司成員輸入========

#========非期貨公司成員輸入========
def create_non_futures_member(databaseName):
    cursor = db.cursor()
    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".none_futures_member (\
    Date DATE PRIMARY KEY,\
    Total_volume FLOAT(5),\
    Increment FLOAT(5),\
    Total_buy_volume FLOAT(5),\
    Increment_1 FLOAT(5),\
    Total_sales_volume FLOAT(5),\
    Increment_2 FLOAT(5) ) "

    cursor.execute(sql)
    
def non_futures_member_insert(data,table_date,databaseName):
    cursor = db.cursor()
    sql = "INSERT INTO " + databaseName +".none_futures_member VALUES("\
    + table_date + ","\
    + data.loc[1][1].replace(',','') +","\
    + data.loc[1][2].replace(',','') +","\
    + data.loc[1][3].replace(',','') +","\
    + data.loc[1][4].replace(',','') +","\
    + data.loc[1][5].replace(',','') +","\
    + data.loc[1][6].replace(',','') + ")"

    cursor.execute(sql)
    db.commit()
    cursor.close()   
#========非期貨公司成員輸入========

#========總計========
def create_total_volume(databaseName):
    cursor = db.cursor()
    sql = "CREATE TABLE IF NOT EXISTS " + databaseName +".total_volume ( Date DATE PRIMARY KEY, \
    V_Valume FLOAT(5),V_Increment FLOAT(5),\
    B_Valume FLOAT(5),B_Increment FLOAT(5),\
    S_Valume FLOAT(5),S_Increment FLOAT(5))"

    cursor.execute(sql)

def total_volume_insert(data,table_date,databaseName):
    cursor = db.cursor()
    total_len = len(data)-1
    sql = "INSERT INTO " + databaseName + ".total_volume VALUES("\
    + table_date + ","\
    + data.loc[total_len][2].replace(',','') +","\
    + data.loc[total_len][3].replace(',','') +","\
    + data.loc[total_len][6].replace(',','') +","\
    + data.loc[total_len][7].replace(',','') +","\
    + data.loc[total_len][10].replace(',','') +","\
    + data.loc[total_len][11].replace(',','') + ")"

    cursor.execute(sql)
    db.commit()
#========總計========

#========V/B/S 名次、成交量、增減========
def V_info_create(databaseName, company_order):
    cursor = db.cursor()
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' VARCHAR(30),'
    name = name + company_order.loc[len(company_order)-1][0] + " VARCHAR(30)"

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName +".v_rank ( Date DATE PRIMARY KEY, " + name + ") ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".v_volume ( Date DATE PRIMARY KEY, " + name + ") ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".v_increment ( Date DATE PRIMARY KEY, " + name + ") ENGINE=MyISAM"
    cursor.execute(sql)
    cursor.close()

def V_info_insert(data,table_date,databaseName):
    cursor = db.cursor()
    
    empty = ""
    empty = empty + table_date


    sql = "INSERT INTO " + databaseName + ".v_rank (Date) VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO " + databaseName + ".v_volume (Date) VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO " + databaseName + ".v_increment (Date) VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()
    
    for i in range(3,len(data)-1):
        if(data.loc[i][1] == None):
            continue
        
        else:
            sql = "UPDATE " + databaseName + ".v_rank SET " + str(data.loc[i][1]) + "=" + data.loc[i][0] + " WHERE Date=" + table_date
            cursor.execute(sql)
            db.commit()    

    for i in range(3,len(data)-1):
        if(data.loc[i][1] == None):
            continue
            
        else:
            sql = "UPDATE " + databaseName + ".v_volume SET " + str(data.loc[i][1]) + "=" + data.loc[i][2] + " WHERE Date=" + table_date
            cursor.execute(sql)
            db.commit()

    for i in range(3,len(data)-1):
        if(data.loc[i][1] == None):
            continue
            
        else:
            sql = "UPDATE " + databaseName + ".v_increment SET " + data.loc[i][1] + "=" + data.loc[i][3] + " WHERE Date=" + table_date
            cursor.execute(sql)
            db.commit()
    
    cursor.close()
    
def B_info_create(databaseName, company_order):
    cursor = db.cursor()
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' TEXT,'
    name = name + company_order.loc[len(company_order)-1][0] + " TEXT"

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".b_rank ( Date DATE PRIMARY KEY, " + name + ") ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".b_oi ( Date DATE PRIMARY KEY, " + name + ") ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".b_increment ( Date DATE PRIMARY KEY, " + name + ") ENGINE=MyISAM"
    cursor.execute(sql)
    cursor.close()
    
def B_info_insert(data,table_date,databaseName):
    cursor = db.cursor()
    name=""

    empty = ""
    empty = empty + table_date 
    
    sql = "INSERT INTO " + databaseName + ".b_rank (Date) VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO " + databaseName + ".b_oi (Date) VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO " + databaseName + ".b_increment (Date) VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()
    
    for i in range(3,len(data)-1):
        if(data.loc[i][5] == None):
            continue  
        else:
            sql = "UPDATE " + databaseName + ".b_rank SET " + str(data.loc[i][5]) + "=" + data.loc[i][4] + " WHERE Date=" + table_date
            cursor.execute(sql)
            db.commit()    

    for i in range(3,len(data)-1):
        if(data.loc[i][5] == None):
            continue
            
        else:
            sql = "UPDATE " + databaseName + ".b_oi SET " + str(data.loc[i][5]) + "=" + data.loc[i][6] + " WHERE Date=" + table_date
            cursor.execute(sql)
            db.commit()

    for i in range(3,len(data)-1):
        if(data.loc[i][5] == None):
            continue
        
        else:
            sql = "UPDATE " + databaseName + ".b_increment SET " + data.loc[i][5] + "=" + data.loc[i][7] + " WHERE Date=" + table_date
            cursor.execute(sql)
            db.commit()

    cursor.close()
    
def S_info_create(databaseName, company_order):
    cursor = db.cursor()
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' TEXT,'
    name = name + company_order.loc[len(company_order)-1][0] + " TEXT"

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName +".s_rank ( Date DATE PRIMARY KEY, " + name + ") ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".s_oi ( Date DATE PRIMARY KEY, " + name + ") ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".s_increment ( Date DATE PRIMARY KEY, " + name + ") ENGINE=MyISAM"
    cursor.execute(sql)
    cursor.close()
    
def S_info_insert(data,table_date,databaseName):
    cursor = db.cursor()

    empty = ""
    empty = empty + table_date
    
    sql = "INSERT INTO " + databaseName + ".s_rank (Date) VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO " + databaseName + ".s_oi (Date) VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO " + databaseName + ".s_increment (Date) VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()
    
    for i in range(3,len(data)-1):
        if(data.loc[i][9] == None):
            continue  
        
        else:
            sql = "UPDATE " + databaseName + ".s_rank SET " + str(data.loc[i][9]) + "=" + data.loc[i][8] + " WHERE Date=" + table_date
            cursor.execute(sql)
            db.commit()    

    for i in range(3,len(data)-1):
        if(data.loc[i][9] == None):
            continue
            
        else:
            sql = "UPDATE " + databaseName + ".s_oi SET " + str(data.loc[i][9]) + "=" + data.loc[i][10] + " WHERE Date=" + table_date 
            cursor.execute(sql)
            db.commit()

    for i in range(3,len(data)-1):
        if(data.loc[i][9] == None):
            continue
            
        else:
            sql = "UPDATE " + databaseName +".s_increment SET " + data.loc[i][9] + "=" + data.loc[i][11] + " WHERE Date=" + table_date
            cursor.execute(sql)
            db.commit()

    cursor.close()
    
#========V/B/S 名次、成交量、增減========

# 找出各商品期貨公司

In [ ]:
db = MySQLdb.connect("localhost","root","123456","zn_oi_original_data")
db.set_character_set('gbk')

In [ ]:
cursor = db.cursor()
sql = 'show tables'
cursor.execute(sql)
data = cursor.fetchall()

In [ ]:
company_list = []
for table in data:
    sql = 'select Member,Member1,Member2 from ' + table[0]
    cursor.execute(sql)
    name = cursor.fetchall()   
    for i in name:
        for j in range(3):
            if (i[j] not in company_list and i[j]!=None):
                company_list.append(i[j])

In [ ]:
a = pd.DataFrame(company_list)
a.to_excel("../期貨公司名稱/zn_company_name.xlsx",index=None,header=None)

In [ ]:
len(company_list)

In [ ]:
file = open("../cu_company_name", "w")
file.write("\n".join(map(lambda x: str(x), company_list)))
file.close()